// ----------------------------
// Internal Variables
//-----------------------------

$orange-base: #d48e5d;
$white-base: #ffffff;
$black-base: #000000;
$gray-base: #57585d;

// ----------------------------
// Global Variables
//-----------------------------

$color-nav-primary: $gray-base;

$color-text-dark: $black-base;
$color-text-light: $white-base;

$color-hover-primary: $orange-base;

$color-btn-primary: $orange-base;
$color-btn-secondary: $gray-base;
