@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900');

// ----------------------------
// Font Family
//-----------------------------

$font-family-main: 'Poppins', sans-serif;

// ----------------------------
// Font Sizes
// ----------------------------

$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-x-large: 20px;
$font-size-xx-large: 22px;
$font-size-xxx-large: 24px;

// ----------------------------
// Font Weights (5kg)====(5kg)
// ----------------------------

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
