#bannerID {
  background-color: yellowgreen;
  width: 100%;
  height: 500px;
  margin-top: 100px;
}

#imgBanner {
  width: 100%;
  height: 500px;
  margin-top: 0%;
}

#prvaVest {
  background-color: blue;
  height: 200px;
  width: 100%;
}

#drugaVest {
  background-color: brown;
  height: 200px;
  width: 100%;
}
