#blogBanner {
  background-color: yellowgreen;
  width: 100%;
  height: 500px;
  margin-top: 100px;
}

#imgBlog {
  width: 100%;
  height: 500px;
  margin-top: 0px;
}

#prviBlog {
  background-color: blue;
  height: 200px;
  width: 100%;
}

#drugiBlog {
  background-color: rgb(79, 128, 94);
  height: 200px;
  width: 100%;
}
#treciBlog {
  background-color: rgb(118, 90, 221);
  height: 200px;
  width: 100%;
}

#cetvrtiBlog {
  background-color: rgb(163, 13, 33);
  height: 200px;
  width: 100%;
}
