@import './base/index';
@import './helpers/index';
@import './components/index';
@import './layouts/index';
@import './pages/index';

p {
  position: center;
  padding-left: 100px;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: center;
  padding-left: 100px;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

img {
  position: center;
  padding-left: 100px;
}
